body {
    width: 85%;
    background-color: wheat;
    margin: auto;
}

button {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Styling for add a new burger section */

.form-group {
    margin-bottom: 15px;
}

.newBurger {
    float: left;
    text-align: center;
}

/* Styling for each list */

h1 {
    text-align: center;
}

.devouredList {
    box-sizing: border-box;
    border: solid 3px black;
    float: left;
    margin-left: 30px;
    padding: 10px;

}

.notDevouredList {
    box-sizing: border-box;
    border: solid 3px black;
    float: left;
    margin-left: 10px;
    margin-right: 30px;
    padding: 10px;
}
